/*FIXME farg o font!!!*/

* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 850px) {
}

@media screen and (min-width: 851px) {
}

html {
	background-color: black;
	/*background-image: url("bilder/img4.jpg");*/
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}

body {
	font-family: "Open Sans", Helvetica Neue, Helvetica, sans-serif;
	font-size: 1em;
}

.cb-slideshow, .cb-slideshow:after { 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0; 
}

.cb-slideshow li span { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: top;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 15s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
	background-image: url("bilder/img4.jpg");
}

.cb-slideshow li:nth-child(2) span { 
	background-image: url("bilder/img5.jpg");
	animation-delay: 5s; 
}
.cb-slideshow li:nth-child(3) span { 
	background-image: url("bilder/img6.jpg");
	animation-delay: 10s; 
}

@keyframes imageAnimation { 
	0% {
		opacity: 0; animation-timing-function: ease-in;
	} 16% {
		opacity: 1; animation-timing-function: ease-out;
	} 33% { opacity: 1 
	} 49% { opacity: 0 
	} 100% { opacity: 0 
		Z}
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

a:link {
	text-decoration: none;
	color: #A9A9F5;
}

a:visited {
	text-decoration: none;
	color: #2dbccb;
}

a:hover {
	text-decoration: underline;
	color: #99CCFF;
}

a#arrow {
	font-size: 1.5em;
	color: white;
}

#arrow:hover {
	text-decoration: none;
	color: #99CCFF;
}

a#maillink {
	color: white;
	font-size: 1.1em;
}

#maillink:hover {
	text-decoration: none;
	color: #99CCFF;
}

/*.active {
	color: #fff499 !important;	FFA500
}*/

.headerlist ul a {
	color: #FFFFFF;
	padding: 0%;
	margin: 0%;
	font-size: 0.9em;
	text-shadow: 1px 1px 1px #000; 
}

.headerlist ul a:hover {
	color: #fff499 !important;	
}

.headerlist img {
	margin-right: 2%;
}

div.buttons {
	clear: both;
	float: right;
	display: inline-block;
    vertical-align: middle;
	float: right;
	padding-right: 1%;
}

div.content {
	margin-left: 20%;
	margin-right: 20%;
}

div.yellow_header {
	background: rgba(255, 254, 220, 0.98);
	color: #FFFFFF;
	padding-bottom: 3%;
}

div.light {
	overflow: hidden;
	background: rgba(255, 255, 255, 0.98);
	height: auto;
	overflow: auto;
	padding-bottom: 5%;
}

#contact {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

div.logo {
	clear: left;
	float: left;
	width: 20%;
}

div.headerlist {
	clear: right;
	float: right;
	width: 50%;
}

#like {
	float: right;
	clear: right;
}

div.footer {
	overflow: hidden;
	border-top: solid 3px #A9A9F5;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
}

.footer a {
	color: rgba(146, 195, 244, 1);
}

.footer a:hover {
	color: #FFA500;
}

.footer p {
	font-weight: bolder;
	margin: 0;
	padding: 2%;
	font-size: 0.8em;
	color: rgba(255, 254, 220, 0.98);
}

.footer #footerleft {
	float: left;
}

.footer #footerright {
	float: right;
}

div.wrapper {	
	position: absolute;
	top: 100%;
	background: rgba(150, 150, 150, 0.85);
}

div.vertcent {
	text-align: center;
}

div.scroll {
	overflow: hidden;
	text-shadow: 1px 1px 1px #000; 
	padding-top: 1%;
	text-align: center;
	height: 12%;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 2.2em;
	font-family: "Amatic SC", Helvetica Neue, Helvetica, sans-serif;
}

#testamonials {
	overflow: hidden;
	position: relative;
	height: 220px;
	text-align: center;
	padding: 3%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#testamonials > div {
	vertical-align: middle;
	position: absolute;
	margin: 3%;
}

#testamonials p.rev {
	padding-top: 4%;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	color: #FF8000;
	font-style: italic;
}

#testamonials p.nam {
	font-size: 0.9em;
	padding-top: 1%;
	color: black;
	text-align: right;
}

fieldset {
	padding: 3%;
	border: solid 1px;
	border-color: #A9A9F5;
	width: 100%;
}

form {
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
}

form legend {
	padding: 1%;
}

form label {
	text-align: right;
	width: 25%;
	float: left;
}

form input {
	width: 70%;
	float: right;
}

form textarea {
	width: 70%;
	float: right;
}

form button {
	float: right;
	width: 45%;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	border: solid 1px #A9A9F5;
}

h1 {
	color: #A9A9F5;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	margin: 0%;
	font-size: 0.8em;
	text-align: left;
}

h2 {
	color: #A9A9F5;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	margin: 0%;
	padding-top: 12%;
}

h2.yellow {
	padding-top: 10%;
	color: rgba(146, 195, 244, 1);
	text-align: center;
}

h3.yellow {
	color: rgba(146, 195, 244, 1);
}

h2.darker {
	color: #FFFFCC;
	text-align: right;
}

h3.darker {
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	color: #FFFFCC;
}

header {
	/*background: rgba(120, 120, 120, 0.4);*/
	/*border-bottom: solid 0.07em #FFFFFF;*/
	width: 100%;
	text-align: center;
	position: fixed;
	margin: 0;
	z-index: 1;
	padding: 1%;
	font-size: 1.7em;
}

hr {
	background-color: #A9A9F5;
	height: 2px;
	border: none;
}

hr.yellow {
	background-color: #92c3f4;
}

hr.darker {
	background-color: #FFFFCC;
	height: 1.5px;
	border: none;
}

.headerlist ul li {
	display: inline;
	font-family: "Amatic SC", Helvetica Neue, Helvetica, sans-serif;
	padding-right: 1.5%;
	padding-left: 1.5%;
}

img.between {
	width: 100%;
	z-index: 0;
	border-top: solid 3px #A9A9F5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

img#logo {
	width: 100%;
}

img#facebook {
	border-radius: 50%;
}

p {
	padding-top: 7%;
}

p#about {
	padding-bottom: 10%;
}

p#events {
	padding-bottom: 10%;
}

p#topform {
	padding-bottom: 5%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
