/*FIXME farg o font!!!*/

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
}

@media screen and (min-width: 851px) {
}

html {
	background-image: url("bilder/vid.gif");
	min-height: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
	font-family: "Open Sans", Helvetica Neue, Helvetica, sans-serif;
	font-size: 1em;
}

a:link {
	text-decoration: none;
	color: #A9A9F5;
}

a:visited {
	text-decoration: none;
	color: #2dbccb;
}

a:hover {
	text-decoration: none;
	color: #99CCFF;
}

/*.active {
	color: #fff499 !important;  FFA500
}*/

.headerlist ul a {
	color: #FFFFFF;
	padding: 0%;
	margin: 0%;
	font-size: 0.8em;
}

.headerlist ul a:hover {
	color: #fff499 !important;	
}

div.content {
	margin-left: 20%;
	margin-right: 20%;
}

div.yellow_header {
	background: rgba(255, 254, 220, 0.98);
	color: #FFFFFF;
	padding-bottom: 3%;
}

div.blue {
	background: #A9A9F5;
	color: #FFFFFF;
}

div.light {
	background: rgba(255, 255, 255, 0.98);
	height: auto;
	overflow: auto;
}

div.left {
	float: left;
	width: 85%;
}

div.right {
	float: right;
	width: 12%;
	padding-right: 1%;
}

div.logo {
	float: left;
	width: 60%;
}

div.headerlist {
	float: right;
	width: 40%;
}

div.footer {
	border-top: solid 3px #A9A9F5;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
}

.footer a {
	color: #fff499;
}

.footer a:hover {
	color: #FFA500;
}

.footer p {
	font-weight: bolder;
	margin: 0;
	padding: 0.3% 1% 0.3% 1%;
	font-size: 0.8em;
	color: #FFA500;
}

.footer #footerleft {
	float: left;
}

.footer #footerright {
	float: right;
}

div.wrapper {    
	position: absolute;
	top: 100%;
	background: rgba(150, 150, 150, 0.85);
}

div.vertcent {
	text-align: center;
}

div.scroll {
	text-align: center;
	height: 12%;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 2em;
	font-family: "Amatic", Helvetica Neue, Helvetica, sans-serif;
}

fieldset {
	padding: 3%;
	border: solid 1px;
	border-color: #A9A9F5;
	width: 100%;
}

form {
	padding-bottom: 20%;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
}

form legend {
	padding: 1%;
}

form label {
	text-align: right;
	width: 25%;
	float: left;
}

form input {
	width: 70%;
	float: right;
}

form textarea {
	width: 70%;
	float: right;
}

form button {
	float: right;
	width: 45%;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	border: solid 1px #A9A9F5;
}

h1 {
	color: #A9A9F5;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	margin: 0%;
	font-size: 0.8em;
	text-align: left;
}

h2 {
	color: #A9A9F5;
	font-family: "Arvo", Helvetica Neue, Helvetica, sans-serif;
	margin: 0%;
	padding-top: 12%;
}

h2.yellow {
	padding-top: 10%;
	color: rgba(146, 195, 244, 1);
	text-align: center;
}

h2.darker {
	color: #FFFFCC;
	text-align: right;
}

header {
	/*background-color: rgba(54, 128, 191, 1);*/
    width: 100%;
  	text-align: center;
  	position: fixed;
  	margin: 0;
  	z-index: 1;
  	padding: 1%;
  	font-size: 1.7em;
}

hr {
	background-color: #A9A9F5;
	height: 2px;
	border: none;
}

hr.yellow {
	background-color: #92c3f4;
}

hr.darker {
	background-color: #FFFFCC;
	height: 1.5px;
	border: none;
}

.headerlist ul li {
	display: inline;
	font-family: "Amatic", Helvetica Neue, Helvetica, sans-serif;
	padding-right: 1.5%;
	padding-left: 1.5%;
}

p {
	padding-top: 7%;
	padding-bottom: 20%;
}

p#topform {
	padding-bottom: 5%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
